NODE_ENV=development
PORT=3003
SERVICE_NAME=auth-service

# Dùng chung PostgreSQL server với product-service, nhưng tách schema auth
DATABASE_URL="postgresql://admin:secret@localhost:5432/products_db?schema=auth"

# Access token 15 phút
JWT_SECRET="super-secret-access-token-at-least-32-chars"

# Refresh token 7 ngày
JWT_REFRESH_SECRET="super-secret-refresh-token-at-least-32-chars"
